<div class="container" style="position: absolute; left: 36%; top: 29%; width: 40%;">
    <div class="row">
        <form style="width: 100%;" [formGroup]="loginFormGroup">
            <div class="row">
                <label>Login</label>
            </div>
            <div class="row">
                <mat-form-field class="form-element" style="width: 52%;">
                    <mat-label>Enter your Email</mat-label>
                    <input matInput placeholder="abc@xyz.com" formControlName="email">
                    <mat-error *ngIf="loginFormGroup?.controls?.email?.dirty || loginFormGroup?.controls?.email?.touched">
                      <span *ngIf="loginFormGroup?.controls?.email?.errors?.required">
                        Must provide a<strong>&nbsp;email</strong>
                      </span><br>
                      <span *ngIf="loginFormGroup?.controls?.email?.errors?.pattern">
                        Please provide a valid email
                      </span>
                   </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field  style="width: 52%;">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="1234" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="loginFormGroup?.controls?.password?.dirty || loginFormGroup?.controls?.password?.touched">
                      <span *ngIf="loginFormGroup?.controls?.password?.errors?.required">
                        Must provide a<strong>&nbsp;password</strong>
                      </span>
                   </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <button mat-button color="primary" (click)="loginToSystem()" [disabled]="loginFormGroup?.invalid">Login</button>
                    <button mat-button color="accent" (click)="cancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <mat-label>
                    <span>No account yet?</span>
                    <span class="sign-up-here" (click)="redirectToSignupPage()"> signup here</span>
                </mat-label>
            </div>
        </form>
    </div>

</div>
