<!-- <button mat-raised-button color="primary"
        (click)="onClick($event)"
>
  <mat-icon>add</mat-icon>
  {{chooseLabel}}
</button> -->

<input type="button" mat-raised-button value="Upload File" (click)="onClick($event)" color="primary"/>
<input #fileUpload
       type="file"
       class="input_fileupload--hidden"
       (input)="onInput($event)"
       (change)="onFileSelected($event)"
       [(ngModel)]="inputFileName"
       [accept]="accept"
       [multiple]="multiple"
       hidden
>

<div *ngFor="let f of files">
  <span>{{f.name}}</span>
  <button mat-icon-button
          color="primary"
          [attr.title]="deleteButtonLabel?deleteButtonLabel:null"
          (click)="removeFile(f)"
  >
    <mat-icon>{{deleteButtonIcon}}</mat-icon>
  </button>
</div>
